In [117]:
import pandas as pd

# Resources
schools_file = "Resources/schools_complete.csv"
students_file = "Resources/students_complete.csv"

# Pull in resources
schools_csv = pd.read_csv(schools_file)
# schools_csv.head()

In [118]:
students_csv = pd.read_csv(students_file)
# students_csv.head()
# students_csv.columns

In [119]:
# District Summary ######################################################################

In [120]:
schools_with_students = pd.merge(schools_csv,students_csv, on=['school_name','school_name'])
# schools_with_students.head()

In [121]:
total_schools = schools_csv['school_name'].count()
# total_schools

In [122]:
# Rename columns so that they are differentiated
schools_with_students = schools_with_students.rename(columns={
    "school_name": "School Name", 
    "type": "School Type", 
    "budget": "Total School Budget",
    }
)
# schools_with_students.head()

In [123]:
# counts as string
total_students = schools_with_students['student_name'].count()
# '{:,}'.format(total_students)

In [124]:
total_budget = schools_csv['budget'].sum()
# '${:,.2f}'.format(total_budget)

In [125]:
average_math_score = schools_with_students['math_score'].mean()
# average_math_score
# average_math_score_rounded = round(average_math_score,6)
# average_math_score_rounded

average_reading_score = schools_with_students['reading_score'].mean()
# average_reading_score

passing_math_score_percentage = sum((schools_with_students['math_score']>=70)) / total_students * 100
# passing_math_score_percentage

passing_reading_score_percentage = sum((schools_with_students['reading_score']>=70)) / total_students * 100
# passing_reading_score_percentage

In [126]:
overall_passing_rate_percentage = ( sum((schools_with_students['math_score']>=70)) + sum((schools_with_students['reading_score']>=70)))
overall_passing_rate_percentage = overall_passing_rate_percentage / total_students
overall_passing_rate_percentage = overall_passing_rate_percentage / 2
overall_passing_rate_percentage = overall_passing_rate_percentage * 100
# overall_passing_rate_percentage
# Note that I do think the overall passing rate calculation is up for interpretation: 
#     per starter it should be (avg. math score + avg. reading score)/2 
# which is not in line with outcome presented in starter outcome

In [127]:
# schools_with_students.head()

In [128]:
# create dataframe for district summary output
district_summary = pd.DataFrame(
{"Total Schools" : [total_schools],
"Total Students" : ['{:,}'.format(total_students)],
"Total Budget" : ['${:,.2f}'.format(total_budget)],
"Average Math Score" : [round(average_math_score,2)], # 2 instead of 6 on homework assignment: Optional: give the displayed data cleaner formatting
"Average Reading Score" : [round(average_reading_score,2)], # 2 instead of 6 on homework assignment: Optional: give the displayed data cleaner formatting
"% Passing Math" : [round(passing_math_score_percentage,2)], # 2 instead of 6 on homework assignment: Optional: give the displayed data cleaner formatting
"% Passing Reading" : [round(passing_reading_score_percentage,2)], # 2 instead of 6 on homework assignment: Optional: give the displayed data cleaner formatting
"% Overall Passing Rate" : [round(overall_passing_rate_percentage,2)] # 2 instead of 6 on homework assignment
})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,80.39

In [129]:
# School Summary ######################################################################

In [130]:
# schools_with_students.columns

In [131]:
# Rename columns so that they are differentiated
schools_with_students = schools_with_students.rename(columns={
    "School Name": "school_name", 
    "School Type": "type", 
    "Total School Budget": "budget",
    "Student ID": "student_id"
    }
)
# schools_with_students.head()

In [132]:
# first add calculated columns required for further processing
schools_with_students['passing_math'] = schools_with_students['math_score'].apply(lambda x: 1 if x >= 70 else 0)
schools_with_students['passing_reading'] = schools_with_students['reading_score'].apply(lambda x: 1 if x >= 70 else 0)
# schools_with_students.head()

In [133]:
# aggregate columns for grouped values
aggregation = { 
#      "budget": 'unique' ,
#      "type": 'unique' ,
     "reading_score": 'mean' ,
     "student_id": 'count' ,
     "math_score": 'mean' ,
     "passing_math": 'sum',
     "passing_reading": 'sum',
}

# school_summary = schools_with_students.groupby('school_name',as_index=False).agg(aggregation)
school_summary = schools_with_students.groupby(['school_name','budget','type'],as_index=False).agg(aggregation)
school_summary["per_student_budget"] = school_summary["budget"] / school_summary["student_id"]
school_summary["percentage_passing_reading"] = school_summary["passing_reading"] / school_summary["student_id"] * 100
school_summary["percentage_passing_math"] = school_summary["passing_math"] / school_summary["student_id"] * 100
school_summary["percentage_passing_overall"] = ( school_summary["percentage_passing_reading"] + 
                                               school_summary["percentage_passing_math"] ) / 2

# school_summary.head()

In [134]:
# Top / Bottom Performing Schools (By Passing Rate) ######################################################################

In [135]:
school_top_bottom = school_summary

# rename columns
school_top_bottom = school_top_bottom.rename(columns={
    "school_name": "School Name", 
    "type": "School Type", 
    "student_id": "Total Students", 
    "budget": "Total School Budget", 
    "per_student_budget": "Per Student Budget", 
    "math_score": "Average Math Score", 
    "reading_score": "Average Reading Score", 
    "percentage_passing_math": "% Passing Math", 
    "percentage_passing_reading": "% Passing Reading", 
    "percentage_passing_overall": "% Overall Passing Rate"
    }
)
# school_top_bottom = school_top_bottom[['School Type','Total Students','Total School Budget','Per Student Budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']]
school_top_bottom = school_top_bottom[[
    'School Name',
    'School Type',
    'Total Students',
    'Total School Budget',
    'Per Student Budget',
    'Average Math Score',
    'Average Reading Score', 
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing Rate'
]]

# group by school name
school_top_bottom.set_index('School Name',inplace=True)
school_top_bottom.groupby('School Name')

# format columns$
school_top_bottom['Total School Budget'] = school_top_bottom['Total School Budget'].map('${:,.2f}'.format)
school_top_bottom['Per Student Budget'] = school_top_bottom['Per Student Budget'].map('${:,.2f}'.format)

# school_top_bottom.head()

In [136]:
# Top Performing Schools (By Passing Rate) ######################################################################

In [137]:
# sort descending 
school_top_sorted = school_top_bottom.sort_values(by=['% Overall Passing Rate'], ascending=False)
school_top_sorted.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [138]:
# Bottom Performing Schools (By Passing Rate) ######################################################################

In [139]:
# sort ascending 
school_bottom_sorted = school_top_bottom.sort_values(by=['% Overall Passing Rate'], ascending=True)
school_bottom_sorted.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

In [140]:
# Math Scores by Grade ######################################################################

In [154]:
ms_grade_9 = schools_with_students.loc[schools_with_students['grade'] == '9th',:][['school_name','math_score']]
ms_grade_9 = ms_grade_9.rename(columns={"math_score": "rs9"})
ms_grade_9.set_index('school_name')
ms_grade_9 = ms_grade_9.groupby('school_name')
# ms_grade_9.head()

ms_grade_9_sum = ms_grade_9.mean()
# ms_grade_9_sum

ms_grade_10 = schools_with_students.loc[schools_with_students['grade'] == '10th',:][['school_name','math_score']]
ms_grade_10 = ms_grade_10.rename(columns={"math_score": "rs10"})
ms_grade_10.set_index('school_name')
ms_grade_10 = ms_grade_10.groupby('school_name')
# ms_grade_10.head()

ms_grade_10_sum = ms_grade_10.mean()
# ms_grade_10_sum

ms_grade_11 = schools_with_students.loc[schools_with_students['grade'] == '11th',:][['school_name','math_score']]
ms_grade_11 = ms_grade_11.rename(columns={"math_score": "rs11"})
ms_grade_11.set_index('school_name')
ms_grade_11 = ms_grade_11.groupby('school_name')
# ms_grade_11.head()

ms_grade_11_sum = ms_grade_11.mean()
# ms_grade_11_sum

ms_grade_12 = schools_with_students.loc[schools_with_students['grade'] == '12th',:][['school_name','math_score']]
ms_grade_12 = ms_grade_12.rename(columns={"math_score": "rs12"})
ms_grade_12.set_index('school_name')
ms_grade_12 = ms_grade_12.groupby('school_name')
# ms_grade_12.head()

ms_grade_12_sum = ms_grade_12.mean()
# ms_grade_12_sum

math_scores_by_grade = ms_grade_9_sum
math_scores_by_grade['rs10'] = ms_grade_10_sum['rs10']
math_scores_by_grade['rs11'] = ms_grade_11_sum['rs11']
math_scores_by_grade['rs12'] = ms_grade_12_sum['rs12']
# math_scores_by_grade.head()

math_scores_by_grade = math_scores_by_grade.rename(columns={
    "rs9": "9th",
    "rs10": "10th",
    "rs11": "11th",
    "rs12": "12th"
})
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [142]:
# Reading Score by Grade ######################################################################

In [155]:
ms_grade_9 = schools_with_students.loc[schools_with_students['grade'] == '9th',:][['school_name','reading_score']]
ms_grade_9 = ms_grade_9.rename(columns={"reading_score": "rs9"})
ms_grade_9.set_index('school_name')
ms_grade_9 = ms_grade_9.groupby('school_name')
# ms_grade_9.head()

ms_grade_9_sum = ms_grade_9.mean()
# ms_grade_9_sum

ms_grade_10 = schools_with_students.loc[schools_with_students['grade'] == '10th',:][['school_name','reading_score']]
ms_grade_10 = ms_grade_10.rename(columns={"reading_score": "rs10"})
ms_grade_10.set_index('school_name')
ms_grade_10 = ms_grade_10.groupby('school_name')
# ms_grade_10.head()

ms_grade_10_sum = ms_grade_10.mean()
# ms_grade_10_sum

ms_grade_11 = schools_with_students.loc[schools_with_students['grade'] == '11th',:][['school_name','reading_score']]
ms_grade_11 = ms_grade_11.rename(columns={"reading_score": "rs11"})
ms_grade_11.set_index('school_name')
ms_grade_11 = ms_grade_11.groupby('school_name')
# ms_grade_11.head()

ms_grade_11_sum = ms_grade_11.mean()
# ms_grade_11_sum

ms_grade_12 = schools_with_students.loc[schools_with_students['grade'] == '12th',:][['school_name','reading_score']]
ms_grade_12 = ms_grade_12.rename(columns={"reading_score": "rs12"})
ms_grade_12.set_index('school_name')
ms_grade_12 = ms_grade_12.groupby('school_name')
# ms_grade_12.head()

ms_grade_12_sum = ms_grade_12.mean()
# ms_grade_12_sum

reading_scores_by_grade = ms_grade_9_sum
reading_scores_by_grade['rs10'] = ms_grade_10_sum['rs10']
reading_scores_by_grade['rs11'] = ms_grade_11_sum['rs11']
reading_scores_by_grade['rs12'] = ms_grade_12_sum['rs12']
# reading_scores_by_grade.head()

reading_scores_by_grade = reading_scores_by_grade.rename(columns={
    "rs9": "9th",
    "rs10": "10th",
    "rs11": "11th",
    "rs12": "12th"
})
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [144]:
# Scores by School Spending ######################################################################

In [145]:
# bins
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

base_score_school_spending = school_summary[['school_name','per_student_budget','math_score','reading_score','percentage_passing_math','percentage_passing_reading','percentage_passing_overall']]
# base_score_school_spending.head()

In [146]:
# use the bins to create a new column
base_score_school_spending["spending_ranges"] = pd.cut(base_score_school_spending["per_student_budget"], spending_bins, labels=group_names, right=False)
# base_score_school_spending.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [147]:
score_school_spending = base_score_school_spending [['spending_ranges','math_score','reading_score','percentage_passing_math','percentage_passing_reading','percentage_passing_overall']]
# score_school_spending
score_school_spending = score_school_spending.rename(columns={
    "spending_ranges": "Spending Ranges (Per Student)"
})
aggregation = { 
     "math_score": 'mean' ,
     "reading_score": 'mean' ,
     "percentage_passing_math": 'mean' ,
     "percentage_passing_reading": 'mean' ,
     "percentage_passing_overall": 'mean' 
}

score_school_spending_final = score_school_spending.groupby('Spending Ranges (Per Student)',as_index=True).agg(aggregation)
score_school_spending_final = score_school_spending_final.rename(columns={
    "math_score": "Average Math Score",
    "reading_score": "Average Reading Score",
    "percentage_passing_math": "% Passing Math",
    "percentage_passing_reading": "% Passing Reading",
    "percentage_passing_overall": "% Overall Passing Rate"
})
score_school_spending_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

In [148]:
# Scores by School Size ######################################################################

In [149]:
# bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
base_score_school_size = school_summary[['school_name','student_id','math_score','reading_score','percentage_passing_math','percentage_passing_reading','percentage_passing_overall']]
# use the bins to create a new column
base_score_school_size["size_ranges"] = pd.cut(base_score_school_size["student_id"], size_bins, labels=group_names, right=False)
# base_score_school_size.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [150]:
score_school_size = base_score_school_size [['size_ranges','math_score','reading_score','percentage_passing_math','percentage_passing_reading','percentage_passing_overall']]
# score_school_size
score_school_size = score_school_size.rename(columns={
    "size_ranges": "School Size"
})
aggregation = { 
     "math_score": 'mean' ,
     "reading_score": 'mean' ,
     "percentage_passing_math": 'mean' ,
     "percentage_passing_reading": 'mean' ,
     "percentage_passing_overall": 'mean' 
}

score_school_size_final = score_school_size.groupby('School Size',as_index=True).agg(aggregation)
score_school_size_final = score_school_size_final.rename(columns={
    "math_score": "Average Math Score",
    "reading_score": "Average Reading Score",
    "percentage_passing_math": "% Passing Math",
    "percentage_passing_reading": "% Passing Reading",
    "percentage_passing_overall": "% Overall Passing Rate"
})
score_school_size_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

In [151]:
# Scores by School Type ######################################################################

In [156]:
# schools_with_students.head()

In [176]:
# score_school_type = schools_with_students[['type','math_score','reading_score','percentage_passing_math','percentage_passing_reading','percentage_passing_overall']]
score_school_type_detail = schools_with_students[['type','student_id','math_score','reading_score','passing_math','passing_reading']]
# score_school_type
score_school_type_detail = score_school_type.rename(columns={
    "type": "School Type"
})
# score_school_type

In [187]:
aggregation = { 
    "student_id": 'count', 
    "math_score": 'mean' ,
    "reading_score": 'mean' ,
    "passing_math": 'mean' ,
    "passing_reading": 'mean' 
#     "percentage_passing_overall": 'mean' 
}

score_school_type = score_school_type_detail.groupby('School Type',as_index=True).agg(aggregation)
# score_school_type["math_score_calc"] = score_school_type["math_score"] /score_school_type["student_id"]
# score_school_type["reading_score_calc"] = score_school_type["reading_score"] /score_school_type_final["student_id"]
score_school_type["passing_math"] = score_school_type["passing_math"] * 100
score_school_type["passing_reading"] = score_school_type["passing_reading"] * 100
score_school_type["passing_overall"] = ( score_school_type["passing_reading"] + 
                                               score_school_type["passing_math"] ) / 2
score_school_type = score_school_type.rename(columns={
    "math_score": "Average Math Score",
    "reading_score": "Average Reading Score",
    "passing_math": "% Passing Math",
    "passing_reading": "% Passing Reading",
    "passing_overall": "% Overall Passing Rate"
})
# score_school_type

In [188]:
score_school_type.drop(["student_id"], axis = 1, inplace = True) 
score_school_type
# I recalculated the percentages through a pivot table in excel and what I am displaying below is fully in line with Excel.
# It is not in line with what is displayed in the starter.
# I did check for empty values for both math and reading and did not find any

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818